---
import '../styles/master.css'
---

<!DOCTYPE html>
<html lang="th">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="dns-prefetch" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin>

	<link
		href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap"
		rel="stylesheet"
		media="print"
	>
	<noscript>
		<link
			href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap"
			rel="stylesheet"
		>
		<style>
			.gotop, .gobottom {
				display: none !important;
			}
		</style>
	</noscript>

	<link rel="icon" type="image/svg+xml" href="/25th-parliament-meeting/favicon.svg">
	<link rel="icon" type="image/png" href="/25th-parliament-meeting/favicon.png">

	<meta name="keywords" content="มาตรา,ประชุม,ผลการลงมติ,ตรวจสอบองค์ประชุม,กระทู้,สภา">

	<title>ข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25</title>
	<meta name="description"
		content="รวบรวมข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25, ผลการลงมติ, ตรวจสอบองค์ประชุม, กระทู้ถามต่างๆ, และอื่นๆ">

	<meta property="og:url"
		content="https://rootenginear.github.io/25th-parliament-meeting/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="ข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25">
	<meta property="og:description"
		content="รวบรวมข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25, ผลการลงมติ, ตรวจสอบองค์ประชุม, กระทู้ถามต่างๆ, และอื่นๆ">
	<meta property="og:image"
		content="https://rootenginear.github.io/25th-parliament-meeting/og.jpg">

	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="rootenginear.github.io">
	<meta property="twitter:url"
		content="https://rootenginear.github.io/25th-parliament-meeting/">
	<meta name="twitter:title" content="ข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25">
	<meta name="twitter:description"
		content="รวบรวมข้อมูลการประชุมสภาผู้แทนราษฎร ชุดที่ 25, ผลการลงมติ, ตรวจสอบองค์ประชุม, กระทู้ถามต่างๆ, และอื่นๆ">
	<meta name="twitter:image"
		content="https://rootenginear.github.io/25th-parliament-meeting/og.jpg">
</head>

<body>
	<slot />
	<script is:inline src="script.js" defer></script>
</body>

</html>